extends ./layouts/main.jade

block content
  .main-container
    include ./partials/post

block scripts
  script.
    var id = "#{content.contentId.replace(new RegExp("/", "g"), "___")}";
  script(src="#{global.jsRootPath}/content.js")
