// these two needs to be first for others to work properly
@require "styles/mixins"
@require "styles/colors"

// regular inclues
@require "partials/*"
@require "styles/*"

body
  background $primary-background
  color $primary-content
  display flex
  flex-flow column
  align-items stretch
  margin-bottom 0
  margin-right 0
  margin-left 0
  padding 0
  -webkit-font-smoothing antialiased

.main-container
  article
    background: $secondary-background
    +gt-sm()
      border 1px solid $primary-border
      background $secondary-background

::selection {
  background #0088b2
  color #fff
}
