$background_body = #FAFAFA
$background_default = #FFFFFF
$background_primary = #3F51B5
$background_secondary = #303F9F

$border_default = rgba(0,0,0,.10)

$accent = #FF9800

$opacity_primary = .87
$opacity_secondary = .54
$opacity_disabled = .38

$text_default_light = rgba(255,255,255,1)
$text_default_dark = rgba(0,0,0,1)

$text_primary = rgba(0,0,0,$opacity_primary)
$text_primary_light = rgba(255,255,255,$opacity_primary)

$text_secondary = rgba(0,0,0,$opacity_secondary)
$text_secondary_light = rgba(255,255,255,$opacity_secondary)

$text_disabled = rgba(0,0,0,$opacity_disabled)
