html {
  font-size 62.5%
}

body
  font-family "Alegreya", serif
  font-size 1.3rem
  line-height 2.0rem
  +gt-sm()
    font-size 1.8rem
    line-height 2.7rem

h1, h2, h3, h4, h6, h6
  &, & a
    color: $primary-content
    text-decoration none
    font-family "Fira Sans", sans-serif
    font-size 2.2rem
    line-height 3.0rem
    font-weight 300
    +gt-sm()
      font-size 3.6rem
      line-height 4rem
