doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href="/")
    title Fil
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic&subset=latin,latin-ext", rel="stylesheet", type="text/css")
    link(href="#{global.cssFilePath}", rel="stylesheet", type="text/css")
  body
    block content
