doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    base(href="/")
    title #{global.title}
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext", rel="stylesheet", type="text/css")
    link(href="#{global.imgRoot}/css/materialize.css", rel="stylesheet", type="text/css")
    link(href="#{global.cssFilePath}", rel="stylesheet", type="text/css")
  body.blue-grey.lighten-5
    block header
      include ../partials/header.jade
    .container
      block content

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="#{global.jsRootPath}/materialize.js")
    include ../partials/firebase.jade
    block scripts
