doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    base(href="/")
    title #{global.title}
    link(href="http://fonts.googleapis.com/css?family=Fira+Sans:300&subset=latin,latin-ext", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Alegreya:400,700,400italic&subset=latin,latin-ext", rel="stylesheet", type="text/css")
    link(href="#{global.cssFilePath}", rel="stylesheet", type="text/css")
  body
    block content

    include ../partials/firebase.jade
    block scripts
