script(src="https://www.gstatic.com/firebasejs/3.0.0/firebase.js")
script.
  firebase.initializeApp({
    apiKey: "AIzaSyACGkNnjhxDCa5R1nLrVS5jeqWUm1GIB1c",
    authDomain: "ubenzer.firebaseapp.com",
    databaseURL: "https://ubenzer.firebaseio.com",
    storageBucket: "project-8005278363217637838.appspot.com"
  });
