header
  align-items stretch
  display flex
  flex-flow column

body
  margin-top 56px

app-bar
  display flex
  align-items center
  position fixed
  height 56px
  padding 12px 10px
  top 0
  left 0
  right 0
  z-index 1
  shadow-1()
  primary-block()

  h1.logo
    height 36px
    line-height 36px
    flex-grow 1
    margin 0
    padding-left 16px
    a
      display inline-block
      height 36px
      line-height 36px
      font-weight 500
      font-size 20px
      color $text_default_light
      margin 0
