header
  app-bar
    button.flat.icon
      span
        img(src="#{global.imgRoot}/ic_menu_white_24px.svg")
    h1.logo
      a(href="/") #{global.template.siteName}
    button.flat.icon
      span
        img(src="#{global.imgRoot}/ic_more_vert_white_24px.svg")
