.navbar-fixed
  nav
    .nav-wrapper.blue.lighten-1
      a(href="/" rel="home" class="brand-logo") &nbsp;UBenzer
      //ul.right.hide-on-med-and-down
      // li
      //   a(href="sass.html") Some
      // li
      //   a(href="sass.html") Link
