article
  .date
    text-transform uppercase
    color $text_secondary
    margin-bottom 10px
  .card-actions
    display flex
    justify-content space-between
    align-items center

    .comment-info
      line-height 24px
      color $text_secondary
      .comment-count
        margin-right 6px
      .icon
        vertical-align middle
        opacity $opacity_secondary
