#sidenav
  .profile-section
    img.profile(src="#{global.imgRoot}/profile.jpg")
    h1.name Umut Benzer
    h2.mini-bio Software Engineer in Berlin
  .navigation
    ul
      li Menu 1
      li Menu 2
