#sidenav
  .profile-section
    img.profile(src="#{global.imgRoot}/profile.jpg")
    h1.name #{global.template.authorName}
    h2.mini-bio #{global.template.authorShortBio}
  .navigation
    ul
      li Menu 1
      li Menu 2
