#sidenav
  background $background_body
  width 350px

  .profile-section
    padding 24px
    text-align center
    background url(img/sidenav-bg.jpg) center bottom no-repeat
    background-size cover

    img.profile
      border 4px solid rgba(255, 255, 255, 0.16)
      shadow-2()
      max-height 140px
      border-radius 999px

    h1.name, h2.mini-bio
      font-size 24px
      font-weight 300
      text-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      color $text_primary_light
      margin 0
      line-height: 1.1em;

    h2.mini-bio
      line-height: 1em;
      font-size 14px
      font-weight 300
      color $text_secondary_light
