.card
  border-radius 2px
  margin 10px
  background-color $background_default
  color $text_primary
  shadow-1()
  .card-contents, .card-actions
    padding 8px 16px
  .card-actions
    border-top: 1px solid $border_default

